.pointer {cursor: pointer;}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.full_center{
    width: 100px;
    height: 100px;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.control-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.tooltip_cus {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip_cus .tooltip_custext {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip_cus */
    position: absolute;
    z-index: 1;
}

.tooltip_cus:hover .tooltip_custext {
    visibility: visible;
}

@media only screen and (max-width: 1026px) {
    .footer_class_links {
        display: none;
    }

    .ver_image{
        display: none;
    }

    .head_image{
        display: none;
    }
}

.shadow-hover:hover {
    box-shadow: 0 0 20px black; 
}

.scroll_bar {
    width: 20px;
    height: 200px;
    overflow: auto;
    float: left;
    margin: 0 10px;
}

.scroll4::-webkit-scrollbar {
    width: 10px;
}

.scroll4::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 20px;
}

.scroll4::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}

.fixing_it{
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
}

.head_image{
    height: 500px;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) { 
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }

    .head_image2{
        display: inline-block;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}